<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         metadata-complete="true">
    <description>
        Dupication Detect sample
    </description>
    <display-name>Dupication Detect , Pengfei Zhang's graduate disseration</display-name>

    <servlet>
        <servlet-name>SampleServlet</servlet-name>
        <servlet-class>com.dafei.web.search.SampleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.dafei.web.search.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadState</servlet-name>
        <servlet-class>com.dafei.web.search.ReadStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollectServlet</servlet-name>
        <servlet-class>com.dafei.retargeting.servlet.Retarget</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SampleServlet</servlet-name>
        <url-pattern>/sample/output</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/sample/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadState</servlet-name>
        <url-pattern>/sample/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollectServlet</servlet-name>
        <url-pattern>/retarget/collect</url-pattern>
    </servlet-mapping>
</web-app>